<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Student Record</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
 <div id = "EntryForm">
	<p>Please Enter Your Information Below</p>
	
	<form action="#" th:action="@{/Information}" th:object="${student}" method="post">
		<table>
			<tr>
				<td>First Name:</td>
				<td><input type="text" th:field="*{firstName}"></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="text" th:field="*{lastName}"></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><input type="text" th:field="*{address}"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" th:field="*{email}"></td>
			</tr>
			<tr>
				<td>Phone Number:</td>
				<td><input type="text" th:field="*{phone}"></td>
			</tr>
			<tr>
				<td>Date Of Birth :</td>
				<td><input type="date" th:field="*{dateOfBirth}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit Your Information</button></td>
			</tr>

		</table>
	</form>
	</div>
	
	
</body>
</html>